.fff {
  display: flex;
  margin-left: -10px;
  input {
    width: 50px;
    text-align: left;
    font-size: 1em;
    background-color: transparent;
    padding: 0;
    &:focus {
      border-bottom: 1px solid #99b4bf;
    }
  }
  sup {
    margin-left: 0px;

    font-size: 0.7em;
  }
}
.degree {
  input {
    text-align: right;
  }
}
