.material {
  display: grid;
  grid-template-areas:
    "addmat header"
    "addmat content";
  grid-template-columns: 300px auto;
  grid-template-rows: 100px auto;
  height: inherit;
}

.addmat {
  grid-area: addmat;
  height: inherit;
  border-right: 1px solid #99b4bf;

  h4 {
    margin: 20px;
  }
}
.fields {
  margin-left: 30px;
}
.header {
  grid-area: header;
  border-bottom: 1px solid #99b4bf;
  box-shadow: 0px 4px 4px #99b4bf;
}
.content {
  grid-area: content;
  padding: 20px;
  overflow-y: auto;
}

.loadmat {
  text-align: center;
  margin-top: 50px;
  > div.text {
    font-size: 0.8em;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
  }
  > div {
    padding-left: 5px;
    padding-right: 5px;
  }
}

.btns {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 10px;
  > div {
    margin-right: 20px;
  }
}
